<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type = "text/css" href= "{% static 'project.css'%}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans:400" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="overlay">
        <div class="topbar">
            <div class="name"><span>Sua</span></div>
            <div class="menu">
                <a class = "link" href = "{% url 'info' %}">info</a>
                <a class = "link" href = "{% url 'project' %}">project</a>
            </div>
        </div>
        <div class="image">
            <div class="portfolio">
                <img class = "toss" src="../static/127.0.0.1_5500_Session3_toss.html (1).png" />
            </div>
        </div>
    </div>
</body>
</html>