{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'category.css' %}">
{% endblock %}

{% block content %}
<h2>{{category_kind}} category list</h2>
    <div class="container">
        <ol>
        {% for article in category_articles %}
        <li><a href="{% url 'detail' article.id %}">{{ article.title }}</a></li>
        {% endfor%} 
        </ol>
    </div>
    <div class="name">
        <a href = "{% url 'list' %}">back to list</a>
    </div>
    <div class="name">
        <a href = "{% url 'new' %}">write article</a>
    </div>
{% endblock %}