<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif" />
    {% load static %}
    <link rel="stylesheet" type = "text/css" href= "{% static 'detail.css'%}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <h2><strong>{{article.id}}. {{article.title}}</strong></h2>
    <div class = 'content'><p>{{article.content}}</p></div>
    <div class="date">{{post_date}}</div>
    <div class="name plus">
        <a href="{% url 'category' article.category %}">back to category</a>
    </div>
    <div class="name">
        <a href = "{% url 'list' %}">back to list</a>
    </div>
    <div class="name">
        <a href = "{% url 'new' %}">write article</a>
    </div>
</body>
</html>